<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">First API</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/user-form']" routerLinkActive="active">New Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/list-name']" [class.active]="createNewProject">User Table</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
    </div>
</nav>

<div class="container mt-5">
    <router-outlet></router-outlet>
</div>
